@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #396e94;
    --secondary-color: #e7c24f;
    --accent1-color: #a43312;
    --accent2-color: #381d2a;
    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
    background-color: #f4f4f4;
}

header {
    padding: 20px;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    display: none;
}

section.active {
    display: block;
}

h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

address {
    font-style: normal;
    line-height: 1.6;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, textarea, button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: white;
    margin-top: 40px;
}
